<!-- <p>
    <a routerLink="/home"></a>
</p> -->

<div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Options</label>
    </div>
   
  </div>
<!-- <a routerLink="/admin"><app-admin> </app-admin>
<a routerLink="/formateur"><app-formateur></app-formateur></a>
<a routerLink="/cm"><app-cm></app-cm></a>
<a routerLink="/apprenant"><app-apprenant></app-apprenant></a> -->
<!-- <p>
    Welcome home {{getLogin()}} !
  </p> -->
<a (click)="logout()">Se déconnecter</a>
